{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center vh-90" >
        <div class="p-4 rounded text-center" style="background-color: whitesmoke; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <h3>Opening hours</h3>
            <p><strong>Saturday:</strong><br>09:00 - 15:00</p>
            <p><strong>Sunday:</strong><br>Closed</p>
            <p><strong>Monday - Friday:</strong><br>09:00 - 17:00</p>
        </div>
    </div>
{% endblock %}

<style>
    .vh-90 {
        height: 90vh;
    }
</style>
