{% extends 'orders/header.html' %}


{% block content %}

  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col">
        <form method="POST">
          {% csrf_token %}
          
          <div class="form-group">
              <label for="{{ form.username.id_for_label }}">Email:</label>
              {{ form.username }}
              {% for error in form.username.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
              <strong class="form-text text-muted">Please enter a valid email only.</strong>
          </div>
      
          <div class="form-group">
              <label for="{{ form.password1.id_for_label }}">Password:</label>
              {{ form.password1 }}
              {% for error in form.password1.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
              <big class="form-text text-muted">
                  Your password can't be too similar to your other personal information.<br>
                  Your password must contain at least 8 characters.<br>
                  Your password can't be a commonly used password.<br>
                  Your password can't be entirely numeric.
              </big>
          </div>
      
          <div class="form-group">
              <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
              {{ form.password2 }}
              {% for error in form.password2.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
              <big class="form-text text-muted">Enter the same password as before, for verification.</big>
          </div>
      
          <button class="btn btn-danger" type="submit">Register</button>
      </form>
      
      <p><b>If you already have an account, please <a href="/login" class="btn btn-success">LOGIN</a> instead!</b></p>
      </div>

      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}
